/* text color  */
@import '../function/function';
@import 'mixin';
@import '../base';
$utilities: map-merge($utilities,(
	"custom-font-size": (
		property: font-size,
		class: fs,
		responsive: true,
		values: (
			0875rem: .875rem,
			1rem: 1rem,
			1125rem: 1.125rem,
			1350rem: 1.35rem,
			)
		)
	)
);
@import 'node_modules/scss/bootstrap';
.primary-color {
	color: $primary-color !important;
}
.text-black {
	color:$black;
}
.text-white {
	color: $white;
}
.text-second
{
	color: $second-color;
}
.text-third
{
	color: $third-color;
}
.text-fourth
{
	color: $fourth-color;
}
.a-link-none
{
	text-decoration: none;
}
.fw-600
{
	font-weight: 600;
}
/* img */
.img-center {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
/* end img */

/* background color */
.bg-black {
	background-color: $black;
}
.bg-white {
	background-color: $white;
}
.bg-primary-color {
	background-color: $primary-color;
}
.bg-second
{
	background-color: $second-color;
}
.bg-third
{
	background-color: $third-color;
}
.bg-fourth
{
	background-color: $fourth-color;
}

.my-bg-gradient
{
	color: #fff;
	background: linear-gradient(95.6deg, #469AC6 0%, #94E63C 133.45%);
}
/* 
border */

.rounded-10
{
	border-radius: 10px;
}
.border-primary-color
{
	outline: 10px solid $primary-color;
}
.border-primary-top
{
	border-top: 10px solid $primary-color;
}
.border-primary-bottom
{
	border-bottom: 13px solid $primary-color;
}
/* endborder */
/* font size */
.fs-1125rem
{
	font-size: 1.125rem;
}
.fs-1350rem
{
	font-size: 1.35rem;
}
.fs-0875rem
{
	font-size: 0.875rem;
}
.my-shadow {
	-webkit-box-shadow: 0 0 10px 2px rgba(156,156,156,.6);
	-moz-box-shadow: 0 0 10px 2px rgba(156,156,156,.6);
	box-shadow: 0 0 10px 2px rgba(156,156,156,.6);
	&._brand
	{
		box-shadow: 0 0 5px 1px rgba(156, 156, 156, 0.3);
	}
}
/* transform */
.scale
{
	&:hover
	{
		transform: scale(1.1);
	}
}
/*end transform */

/* button */

/* end button */
/* link */
.a-tag-reset {
	
}
/* end link */
/* colums */

.pre-check
{
	position: relative;
	line-height: 2rem;
	margin-left: 2rem;
	&::before
	{
		position: absolute;
		font-family: "Font Awesome 5 Free";
		content: "\f058";
		color: $primary-color;
		display: inline-block;
		margin-right: 3px;
		top: 0;
		left: -2.3rem;
		font-size: 2rem;
	}
}
.center-hr-element
{
	position: relative;
	._content 
	{
		padding-right: rem(15);
		background: white;
		font-weight: 500;
	}
	&::before
	{
		top: 50%;
		left: 0;
		z-index: -1;
		border-bottom: 2px solid #EBEBEB;
		position: absolute;
		width: 100%;
		content: '';
	}
	/* modifier */
	&.my-pagination
	{
		._pagination
		{
			padding: 0 rem(25);
		}
		a
		{
			padding: rem(8) rem(14);
			background: white;
			color: #D2D2D2;
			border: 1px solid;
			text-decoration: none;
			&:not(:last-child)
			{
				margin-right: rem(4);
			}
			&.active
			{
				color: white;
				background: $primary-color;
			}
		}
	}
}
/* form */
.outline-width-0:focus
{
	outline-width: 0;
}
/* endform */
.overlay
{
	width: 100%;
	height: 100vh;
	
	background-color: transparent;	
	position: fixed;
	visibility: hidden;
	opacity: 0;
	top: 0;
	left: 0;
	transition: 1s all ease;
	&.active
	{
		background-color: rgba(0,0,0,.4);
		visibility: visible;
		opacity: 1;
		z-index: 998;
	}
	&.menu
	{
		transform: translateX(100%);
		&.active
		{
			transform: translateX(0);
		}
	}
	&.main-menu
	{
		transform: translateY(-100%);
		&.active
		{
			transform: translateX(0);
		}
	}
	&.--no-animation
	{
		&.active
		{
			transform: translateX(0);
			background-color: rgba(0,0,0,.4);
			visibility: visible;
			opacity: 1;
			transition: none;
		}
	}
	
}
.extension
{
	.go-to-top
	{
		padding: .5rem;
		position: fixed;
		bottom: 20vh;
		right: 8vw;
		cursor: pointer;
		animation: smoothMove 5s linear infinite alternate;
		z-index: 999;
		display: inline-block;
		._icon
		{
			font-size: 1rem;
		}
		
	}
	#phone-call
	{
		color: #fff;
		padding: .5rem;
		background:$primary-color;
		display: inline-block;
		position: fixed;
		bottom: 30vh;
		right: 8vw;
		z-index: 998;
		/* animation: shake .2s linear infinite; */
		&::before
		{
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			opacity: .5;
			z-index: 1;
			background: red;
			width: 3rem;
			height: 3rem;
		}
		._icon
		{
			font-size: 1.5rem;
		}
	}
}

@media(max-width: 991.98px)
{
	.pre-check
	{
		&::before
		{
			font-size: 1.5rem;
		}
	}
}
@media(min-width: 1200px)
{
}