$white: #fff;
$black: #000;
$primary-color: #feb916;
$second-color: #e2e1dd;
$third-color: #777777;
$fourth-color: #424242;
$fontSizeBig: 1.125rem;


/* border radius */
$rounded: 10px;
$circle: 999px;
/* end border radius */