@keyframes smoothMove {
	0%   {top: 80vh;}
  50% {top: 78vh;}
  100% {top: 80vh;}
}
@keyframes shake
{
	0% {
		transform: rotate(0);
	}
	25%
	{
		transform: rotate(40deg);
	}
	50%
	{
		transform: rotate(30deg);
	}
	75%
	{
		transform: rotate(15deg);
	}
	100%
	{
		transform: rotate(0);
	}
}